@tailwind base;
@tailwind components;
@tailwind utilities;

.DialogOverlay {
    background: rgba(0 0 0 / 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    overflow-y: auto;
  }
  
  .DialogContent {
    min-width: 300px;
    border-radius: 4px;
  }

#react-select-9-listbox {
  z-index: 9999999999999 !important;
}
